@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
  font-family: 'New Tegomin', serif;

}
.bg{
  background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: "100%";
}
